<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Name:<br/>
    <%=offer.rows[0].firstname%>   <%=offer.rows[0].lastname%><br/>
    Age:<br/>
    <%=offer.rows[0].age%><br/>
    City:<br/>
    <%=offer.rows[0].city%><br/>
    Sport:<br/>
    <%=offer.rows[0].sport%><br/>
    Activity:<br/>
    <%=offer.rows[0].activity%><br/>


    <div class="action-btns">
      <button type="button" name="button" class="edit-btn"><a href="/activities/<%=offer.rows[0].id%>/edit">EDIT</a></button>
      <form action="/people/<%=offer.rows[0].id%>?_method=DELETE" method="POST" class="delete-btn">
          <input type="submit" value="DELETE"/>
      </form>
    </div>

  </body>
</html>
