<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="container">
      <form action="/offers/<%=offer.rows[0].id%>?_method=PUT" method="POST">
        <fieldset class="edit-info">
          <label for="firstname">FIRST NAME:</label>
          <input type="text" name="firstname" value="<%=offer.rows[0].firstname%>" /><br/>
          <label for="lastname">LAST NAME:</label>
          <input type="text" name="lastname" value="<%=offer.rows[0].lastname%>" /><br/>
          <label for="age">AGE:</label>
          <input type="number" name="age" value="<%=offer.rows[0].age%>" /><br/>
          <label for="city">CITY:</label>
          <input type="text" name="city" value="<%=offer.rows[0].city%>" /><br/>
          <label for="sport">SPORT:</label>
          <input type="text" name="sport" value="<%=offer.rows[0].sport%>" /><br/>
          <label for="activity">ACTIVITY:</label>
          <input type="text" name="activity" value="<%=offer.rows[0].activity%>" /><br />
          <input type="submit" value="SUBMIT">
        </fieldset>
        </form>
        <button type="button" name="button">
          <a href="/offers">BACK</a>
        </button>
    </div>

  </body>
</html>
