<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.html.ejs') %>
  </head>
  <body>
    <!-- NAV -->
      <%- include('../partials/nav.html.ejs') %>
    <!-- MAIN STATIC STUFF  -->
    <div class="container">

    <!-- OFFERS -->

      <div class="offers">
        <div class="offer-data">
          <h3>Offer Listings</h3>
            <table class="table table-bordered table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">NAME</th>
                  <th scope="col">AGE</th>
                  <th scope="col">CITY</th>
                  <th scope="col">SPORT</th>
                  <th scope="col">ACTIVITY</th>
                </tr>
              </thead>
              <tbody>
                <% for (let i = 0; i < offers.length; i++) { %>
                <tr>
                  <td><a href="/offers/<%= offers[i].id %>"><%= offers[i].firstname%> <%=offers[i].lastname %></a> </td>
                  <td><%= offers[i].age %></td>
                  <td><%= offers[i].city %></td>
                  <td><%= offers[i].sport %></td>
                  <td><%= offers[i].activity %></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>

            <div class="form-container">

            <div class="form-img">

            </div>

          <div class="new-form">
            <h4>I am offering!</h4>
            <form action="/offers" method="POST">
              <div class="form-group">
                <input type="text" name="firstname" placeholder="FIRST NAME" required /><br/>
                <input type="text" name="lastname" placeholder="LAST NAME" required /><br/>
                <input type="number" name="age" placeholder="AGE"/><br/>
                <input type="text" name="city" placeholder="CITY" required /><br/>
                <input type="text" name="sport" placeholder="SPORT" required /><br/>
                <input type="text" name="activity" placeholder="ACTIVITY" required /><br/>
                <input type="submit" value="ADD LISTING" class="add-btn" />
              </div>
              </form>
          </div>
          <!-- CLOSING OUT FORM CONTAINER -->
          </div>





            <!-- CLOSING OUT OFFERS-DISPLAY -->
          </div>





    <button type="button" name="button" class="match-btn btn-block"><a href="/matches"><i class="fab fa-searchengin fa-2x"> MATCHES</i></a></button>
<!-- CLOSING OUT CONTAINER DIV -->
    </div>
<!-- FOOTER -->
    <footer class="page-footer">
      <%- include('../partials/footer.html.ejs') %>
    </footer>
  </body>
</html>
