<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.html.ejs') %>
  </head>
  <body>
    <!-- NAV -->
      <%- include('../partials/nav.html.ejs') %>
      <!-- MAIN -->
    Name:<br/>
    <%=offer.rows[0].firstname%>   <%=offer.rows[0].lastname%><br/>
    Age:<br/>
    <%=offer.rows[0].age%><br/>
    City:<br/>
    <%=offer.rows[0].city%><br/>
    Sport:<br/>
    <%=offer.rows[0].sport%><br/>
    Activity:<br/>
    <%=offer.rows[0].activity%><br/>


    <div class="action-btns">
      <button type="button" name="button" class="edit-btn"><a href="/offers/<%=offer.rows[0].id%>/edit">EDIT</a></button>
      <form action="/offers/<%=offer.rows[0].id%>?_method=DELETE" method="POST" class="delete-btn">
          <input type="submit" value="DELETE"/>
      </form>
    </div>
    <!-- FOOTER -->
      <footer class="page-footer">
        <%- include('../partials/footer.html.ejs') %>
      </footer>
  </body>
</html>
