<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.html.ejs') %>
  </head>
  <body>
    <!-- NAV -->
      <%- include('../partials/nav.html.ejs') %>
      <!-- MAIN -->
      <h1>FIGHTING FIT MEETUP</h1>
      <h3>brought to you by the owner of Fighting Fit</h3>
      <!-- DATA -->
      <div class="data-display">
        <div class="offers-display">
          <h5>OFFERS</h5>
            <table class="table table-bordered">
              <thead>
                <tr>
                <th scope="col">NAME</th>
                <th scope="col">AGE</th>
                <th scope="col">CITY</th>
                <th scope="col">SPORT</th>
                <th scope="col">ACTIVITY</th>
                </tr>
              </thead>
              <tbody>
                <% for (let i = 0; i < offers.length; i++) { %>
                <tr>
                  <td><%= offers[i].firstname%> <%=offers[i].lastname %></td>
                  <td><%= offers[i].age %></td>
                  <td><%= offers[i].city %></td>
                  <td><%= offers[i].sport %></td>
                  <td><%= offers[i].activity %></td>
                </tr>
                <% } %>
              </tbody>
            </table>
        </div>
        <div class="searches-display">
          <h4>SEARCHES</h4>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">NAME</th>
                <th scope="col">AGE</th>
                <th scope="col">CITY</th>
                <th scope="col">SPORT</th>
                <th scope="col">ACTIVITY</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < searches.length; i++) { %>
              <tr>
                <td><%= searches[i].fname%> <%=searches[i].lname %></td>
                <td><%= searches[i].age %></td>
                <td><%= searches[i].city %></td>
                <td><%= searches[i].sport %></td>
                <td><%= searches[i].activity %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

  <!-- FOOTER -->
  <footer class="page-footer">
    <%- include('../partials/footer.html.ejs') %>
  </footer>
  </body>
</html>
