<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.html.ejs') %>
  </head>
  <body>
    <!-- NAV -->
      <%- include('../partials/nav.html.ejs') %>
      <!-- MAIN -->
      <div class="banner">
        <h1>Fighting Fit Meetup</h1>
        <h3>brought to you by the owner of Fighting Fit</h3>
      </div>
      <!-- STATIC STUFF -->
      <div class="static-container">
        <div id="about" class="about">
          <i class="fas fa-link fa-3x"></i>
          <h4>About FFM</h4>
          <p>Fighting Fit was established to help you track your workouts and hold you accountable throughout your fitness journey. But workouts are more fun together! FFM connects users to workout with each other.</p>
        </div>
        <div class="works">
          <i class="fas fa-info-circle fa-3x"></i>
          <h4>How it Works</h4>
          <p>Are you a trainer searching for new clients? A student seeking an instructor? Just your average joe looking to rumble? Simply enter your info under offers or searches and find someone in your city whose profile matches up with what you're looking for!</p>
        </div>
      </div>

      <!-- SECOND BANNER-->
      <div class="secondbanner">
      </div>

      <!-- DATA -->
      <div class="data-display">
        <div class="offers-display">
          <h4>Offers</h4>
            <table class="table table-bordered">
              <thead>
                <tr>
                <th scope="col">NAME</th>
                <th scope="col">AGE</th>
                <th scope="col">CITY</th>
                <th scope="col">SPORT</th>
                <th scope="col">ACTIVITY</th>
                </tr>
              </thead>
              <tbody>
                <% for (let i = 0; i < offers.length; i++) { %>
                <tr>
                  <td><%= offers[i].firstname%> <%=offers[i].lastname %></td>
                  <td><%= offers[i].age %></td>
                  <td><%= offers[i].city %></td>
                  <td><%= offers[i].sport %></td>
                  <td><%= offers[i].activity %></td>
                </tr>
                <% } %>
              </tbody>
            </table>
        </div>
        <div class="searches-display">
          <h4>Searches</h4>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">NAME</th>
                <th scope="col">AGE</th>
                <th scope="col">CITY</th>
                <th scope="col">SPORT</th>
                <th scope="col">ACTIVITY</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < searches.length; i++) { %>
              <tr>
                <td><%= searches[i].fname%> <%=searches[i].lname %></td>
                <td><%= searches[i].age %></td>
                <td><%= searches[i].city %></td>
                <td><%= searches[i].sport %></td>
                <td><%= searches[i].activity %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

  <!-- FOOTER -->
  <footer class="page-footer">
    <%- include('../partials/footer.html.ejs') %>
  </footer>
  </body>
</html>
