<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.html.ejs') %>
  </head>
  <body>
    <!-- NAV -->
      <%- include('../partials/nav.html.ejs') %>
    <!-- MAIN STATIC STUFF -->
    <div class="container">
      <!-- SEARCHES -->
      <div class="searches">
        <div class="search-data">
          <h3>Search Listings</h3>
          <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">NAME</th>
                <th scope="col">AGE</th>
                <th scope="col">CITY</th>
                <th scope="col">SPORT</th>
                <th scope="col">ACTIVITY</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < searches.length; i++) { %>
              <tr>
                <td><a href="/searches/<%= searches[i].id %>"><%= searches[i].fname%> <%=searches[i].lname %></a> </td>
                <td><%= searches[i].age %></td>
                <td><%= searches[i].city %></td>
                <td><%= searches[i].sport %></td>
                <td><%= searches[i].activity %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
          </div>

          <div class="form-container">

            <div class="form-img search-form-img">

            </div>

            <div class="new-form">
              <h4>Searching for:</h4>
              <form action="/searches" method="POST">
                <div class="form-group">
                  <input type="text" name="fname" placeholder="FIRST NAME" required /><br/>
                  <input type="text" name="lname" placeholder="LAST NAME" required /><br/>
                  <input type="number" name="age" placeholder="AGE"/><br/>
                  <input type="text" name="city" placeholder="CITY" required /><br/>
                  <input type="text" name="sport" placeholder="SPORT" required /><br/>
                  <input type="text" name="activity" placeholder="ACTIVITY" required /><br/>
                  <input type="submit" value="ADD LISTING" class="add-btn" />
                </div>
                </form>
              </div>
              <!-- CLOSING OUT SEARCHES-DISPLAY -->
          </div>



          </div>
        <button type="button" name="button" class="match-btn btn-block"><a href="/matches"><i class="fas fa-search fa-2x"> MATCHES</i></a></button>

        </div>

        <!-- FOOTER -->
      <footer class="page-footer">
          <%- include('../partials/footer.html.ejs') %>
        </footer>
  </body>
</html>
