<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Name:<br/>
    <%=search.rows[0].fname%>   <%=search.rows[0].lname%><br/>
    Age:<br/>
    <%=search.rows[0].age%><br/>
    City:<br/>
    <%=search.rows[0].city%><br/>
    Sport:<br/>
    <%=search.rows[0].sport%><br/>
    Activity:<br/>
    <%=search.rows[0].activity%><br/>


    <div class="action-btns">
      <button type="button" name="button" class="edit-btn"><a href="/searches/<%=search.rows[0].id%>/edit">EDIT</a></button>
      <form action="/searches/<%=search.rows[0].id%>?_method=DELETE" method="POST" class="delete-btn">
          <input type="submit" value="DELETE"/>
      </form>
    </div>

  </body>
</html>
